<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Text</mat-label>
        <input matInput type="text" placeholder="Text" formControlName="input">
        <mat-error *ngIf="form.get('input').errors?.required">This input must be filled</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Key</mat-label>
      <input matInput type="text" placeholder="Key" formControlName="key">
      <mat-error *ngIf="form.get('key').errors?.required">This input must be filled</mat-error>
      <mat-error *ngIf="form.get('key').errors?.pattern">This input must be number</mat-error>
    </mat-form-field>
    <mat-radio-group>
      <ng-container *ngFor="let cipher of ciphers">
        <mat-radio-button
          [value]="cipher"
          ngDefaultControl
          formControlName="cipher"
        >{{ cipher }}</mat-radio-button>
      </ng-container>
    </mat-radio-group>
    <div class="btn-container">
      <button mat-raised-button color="primary" (click)="encrypt()">Encrypt</button>
      <button mat-raised-button color="accent" (click)="decrypt()">Decrypt</button>
    </div>
   </form>
  <div class="inner">
    <h3 id="result">Here is result</h3>
  </div>
</div>
