<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Text</mat-label>
        <input matInput type="text" placeholder="Text" formControlName="input">
        <mat-error *ngIf="form.get('input').errors?.required">This input must be filled</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Key</mat-label>
      <input matInput type="text" placeholder="Key" formControlName="key">
      <mat-error *ngIf="form.get('key').errors?.required">This input must be filled</mat-error>
    </mat-form-field>
   </form>
  <div class="inner">
    <mat-radio-group [(ngModel)]="getCipher">
      <mat-radio-button *ngFor="let chiper of chipers" [value]="chiper">{{ chiper }}</mat-radio-button>
    </mat-radio-group>
    <div>{{ getCipher }}</div>
    <div class="btn-container">
      <button mat-raised-button color="primary" (click)="encrypt()">Encrypt</button>
      <button mat-raised-button color="accent" (click)="decrypt()">Decrypt</button>
    </div>
    <h3 id="result">Here is result</h3>
  </div>
</div>
